<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body background="Fondo.png">
    <header>
        <section>
            <img src="Escudo_UN.png" alt="Escudo UNAL" width="100" height="100"-/>	
        </section>

    </header>
    <center>
        
        <a id="w3loginbtn" class="w3-bar-item w3-btn bar-item-hover w3-right" style="display: inline; width: 130px; background-color: rgb(4, 170, 109); color: white; border-radius: 25px;" href="https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fmy-learning.w3schools.com" target="_self">Log in</a>


        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="dropdown-menu">
        <form class="px-4 py-3">
          <div class="form-group">
            <label for="exampleDropdownFormEmail1">Email address</label>
            <br/>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <br/>
            <label for="exampleDropdownFormPassword1">Password</label>
            <br/>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
          </div>
          <div class="form-check">
            <br/><br/><br/>
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me
            </label>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
          
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Tienes cuenta? inciar sesion</a>
        <br/>
        <a class="dropdown-item" href="#">olvido su contraseña?</a>
      </div>
    
    </center>
</body>

</html>