<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheey" href="app.css"/>
    <section>
        <img src="Escudo_UN.jpeg" alt="Escudo UNAL" width="50" height="50"-/>
        <figcaption>Soy del Verde Soy Feliz</figcaption>	
    </section>
</head>
<body>
    <label>Formulario</label>
    <form>
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
        <div class="form-group">
          <label for="Correo">Correo</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ususario @unal.edu.co">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="Contra">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="******">
        </div>
        
      </form>
</body>
</html>